server {
    listen ${PORT};
    listen [::]:${PORT};

    location = /health {
        access_log off;
        default_type text/plain;
        return 200 "ok\n";
    }

    location / {
        root /usr/share/nginx/html;
        index index.html;
    }
}
