[Unit]
Description=afframe restore drill (deploy/bin/afframe-restore-drill)
After=docker.service

[Service]
Type=oneshot
User=deploy
Environment=AFFRAME_HOME=/srv/afframe
ExecStart=/srv/afframe/repo/deploy/bin/afframe-restore-drill
